[Unit]
Description=Crash Predict
After=network.target

[Service]
WorkingDirectory=/home/crash/crashPredict/
ExecStart=/usr/bin/python3.12 /home/crash/predict/crashPredict/rnn_ltsm.py
Restart=always


[Install]
WantedBy=multi-user.target