/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
 

.excel-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid darkslategrey;
    box-shadow: none;
}

.excel-table th, .excel-table td {
    border: 1px solid #d3d3d3;
    padding: 8px;
    text-align: left;
}